body {
    background: #1D1D1D;
}

a {
    color: white;
}

.footer {
    color: rgb(218, 218, 218);
    background: #2D2D2D;
}

.footer a {
    color: rgb(218, 218, 218);
}

.documentation .title {
    border-bottom: 1px rgb(73, 73, 73) solid;
}

.navbar {
    background: #323232;
    color: rgb(149, 179, 255);
}

.navbar a {
    color: rgb(149, 179, 255);
}

.card {
    background: rgb(33, 33, 33);
    color: white;
}

.legend-card {
    background: #2D2D2D;
    color: white;
}

pre {
    background: #2D2D2D;
    border: none;
}

.warn,
.info,
.button {
    color: black;
    font-weight: 600;
}

code {
    color: white;
    background: #2D2D2D;
    border-color: #444444;
}

.documentation .title {
    color: white;
}