    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        text-decoration: none;
    }
    
    @keyframes floattop {
        0% {
            position: relative;
            opacity: 0;
        }
        50% {
            opacity: 0;
            top: 20px;
        }
        100% {
            top: 0;
        }
    }
    
    @keyframes floatdown {
        0% {
            position: relative;
            opacity: 0;
        }
        50% {
            opacity: 0;
            top: -15px;
        }
        100% {
            top: 0;
        }
    }
    
    @keyframes gradientanimate {
        50% {
            background-size: 400% 400%;
        }
    }
    
    html {
        position: relative;
        min-height: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Roboto';
        color: #333333;
        line-height: 1.6;
        min-height: 100%;
        margin: 0 0 190px;
    }
    
    ul:not(.card>ul){
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: #333333;
    }
    
    h1,
    h2,
    h3,
    h4 {
        font-weight: 500;
        margin: 11px 0px;
        line-height: 1.2;
    }
    
    pre {
        background-color: #E4E4E4;
        padding: 6px;
        border-radius: 5px;
        border: 1px #CCCCCC solid;
    }
    
    code {
        background-color: #E4E4E4;
        padding: 3px;
        border-radius: 5px;
        border: 1px #444444 solid;
        color: white;
        background-color: #2D2D2D;
    }
    /* Navigation Bar */
    
    .logo {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    
    .logo h1 {
        font-weight: 600;
        transition: all 0.3s;
    }
    
    .logo span {
        font-weight: 500;
    }
    
    .logo h1:hover {
        opacity: 0.65;
    }
    
    .navbar {
        z-index: 2;
        position: fixed;
        width: 100%;
        background-color: white;
        color: cornflowerblue;
        height: 55px;
        /* haha 69 funny ahaha */
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.06);
    }
    
    .navbar .flexbox {
        justify-content: space-between;
        overflow: hidden;
    }
    
    .navbar ul {
        display: flex;
    }
    
    .navbar a {
        color: cornflowerblue;
        padding: 10px;
        margin: 0px 15px;
        box-shadow: rgba(100, 148, 237, 0) 0 0 0 0;
        transition: all 0.3s;
    }
    
    .navbar a:hover {
        box-shadow: cornflowerblue 0 3px 0 0;
    }
    /* Utils */
    
    .container {
        margin: 0px auto;
        overflow: auto;
        width: 95%;
        max-width: 1380px; /* For larger screens */
    }
    
    .flexbox {
        height: 100%;
        display: flex;
        justify-content: #ecf0f3;
        align-items: center;
    }
    
    .legend-card {
        background-color: #f5f8fa;
        padding: 10px 20px;
        overflow: auto;
        min-height: 400px;
    }
    
    .card {
        background-color: white;
        padding: 10px 20px;
        overflow: auto;
    }
    
    .documentation .title {
        font-size: 28px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
        border-bottom: 1px lightgray solid;
        color: #333333;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    
    .contentparent {
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.05) 0 6px 9px 0;
        border-radius: 6px;
        animation: floattop 1.1s;
        position: relative;
    }
    /* Docs */
    
    .documentation {
        min-height: none;
        position: relative;
        top: -100px;
    }
    
    .danger {
        background-color: #F8D7DA;
        color: #721c24;
        padding: 10px 10px;
        border-radius: 5px;
        margin: 10px 0px;
        min-width: none;
        display: block;
        border-left: 3px solid #a8757a;
    }
    
    .warn {
        background-color: #FFF3CD;
        color: #856404;
        padding: 10px 10px;
        border-radius: 5px;
        margin: 10px 0px;
        min-width: none;
        display: block;
        border-left: 3px solid #9b8647;
    }
    
    .info {
        background-color: #cce5ff;
        color: #004085;
        padding: 10px 10px;
        border-radius: 5px;
        margin: 10px 0px;
        min-width: none;
        display: block;
        border-left: 3px solid #88abd1;
    }
    
    .card a:not(.button) {
        transition: all 0.2s;
        color: rgb(79, 125, 209);
    }
    
    .card a:not(.button):hover {
        transition: all 0.2s;
        text-decoration: underline;
    }
    
    .documentation h2 {
        font-size: 27px;
        margin: 7px 0px;
    }
    
    .documentation h3 {
        font-size: 25px;
        margin: 18px 0px;
    }
    
    .documentation h4 {
        font-size: 20px;
        margin: 10px 0px;
    }
    
    .card p {
        margin: 15px 0px;
    }

    .card li {
        list-style: none;
        margin-left: 15px;
    }
    
    .button {
        background-color: cornflowerblue;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0px;
        display: inline-block;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        transition: all 0.2s;
    }
    
    .button:hover {
        background-color: cornflowerblue;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0px;
        display: inline-block;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        transition: all 0.2s;
    }
    
    .legend-card ul li {
        margin: 5px 0px;
    }

    .legend-card a {
        transition: all 0.2s;
        color: cornflowerblue;
    }
    
    .legend-card a:hover {
        opacity: 0.65;
    }
    /* Welcome Area */
    
    .welcome {
        background-image: linear-gradient(135deg, cornflowerblue 0%, rgb(22, 81, 190) 100%);
        background-size: 200% 200%;
        animation: gradientanimate 4s;
        height: 500px;
        width: 100%;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    
    .welcome h1 {
        text-align: center;
        color: white;
        font-size: 64px;
        /* Minecraft Number xD */
        margin: 0px;
        padding-top: 200px;
        animation: floatdown 0.75s;
        position: relative;
    }
    
    .welcome p {
        color: white;
        text-align: center;
        font-size: 32px;
        animation: floatdown 0.5s;
        position: relative;
    }
    /* Contributors page */
    
    #con li {
        list-style: circle;
        margin-left: 30px;
    }
    /* Footer */
    
    .footer {
        background-color: #F5F8FA;
        margin-bottom: 0px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 125px;
        width: 100%;
        overflow: hidden;
    }
    
    .footer h1 {
        padding-top: 12px;
    }
    
    .footer ul {
        display: flex;
    }
    
    .footer .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .footer .flexbox {
        justify-content: center;
        float: right;
    }
    
    body>footer>div>nav>ul {
        overflow: hidden;
    }
    
    body>footer>div>nav>ul>li:nth-child(3) {
        margin-right: 15px
    }
    
    .footer a {
        margin: 0 20px;
        font-size: 18px;
        transition: all 0.3s;
        display: flex;
        box-shadow: #616161 0 0 0 0;
    }
    
    .footer li {
        margin-top: 20px;
    }
    
    .footer a:hover {
        box-shadow: #616161 0 2px 0 0;
    }
    /* Tablet Or Other */
    
    @media(max-width: 1200px) {
        .welcome h1 {
            font-size: 48px;
            padding-bottom: 20px;
        }
        .welcome p {
            font-size: 26px;
            padding-bottom: 20px;
        }
    }
    
    @media(max-width: 869px) {
        .documentation {
            top: -75px;
        }
    }
    
    @media(max-width: 750px) {
        .navbar {
            height: 110px;
        }
        .navbar .flexbox {
            flex-direction: column;
        }
        .navbar ul {
            margin-bottom: 20px;
        }
        .grid {
            display: block;
        }
        .documentation {
            top: -69px;
        }
        .welcome {
            height: 400px;
        }
        .welcome h1 {
            font-size: 40px;
            padding-top: 150px;
        }
        .welcome p {
            font-size: 18px;
            padding: 0px;
        }
        .legend-card {
            width: 75%;
            margin: 0px auto;
        }
        .footer p {
            font-size: 14px;
        }
    }
    /* Phone */
    
    @media(max-width: 512px) {
        .navbar {
            height: 110px;
        }
        .navbar .flexbox {
            flex-direction: column;
        }
        .navbar ul {
            margin-bottom: 20px;
        }
        .grid {
            display: block;
        }
        .documentation {
            top: -30px;
        }
        .welcome {
            height: 350px;
        }
        .welcome h1 {
            font-size: 32px;
            padding-top: 150px;
        }
        .welcome p {
            font-size: 18px;
            padding-top: 0px;
        }
        .legend-card {
            width: 75%;
            margin: 0px auto;
        }
        .footer p {
            font-size: 14px;
        }
    }
    /* CODE BLOCK */
    
    .code {
        display: block;
        max-height: 500px;
        width: 100%;
        margin: 20px 0;
        font-family: monospace;
        font-size: 13px;
        line-height: 23px;
        position: relative;
        overflow: auto
    }
    
    .code .numbers,
    .code .source {
        float: left
    }
    
    .code .numbers {
        padding: 10px;
        text-align: right
    }
    
    .code .source {
        padding: 10px 0
    }
    
    .code .source .line {
        padding: 0 10px
    }
    
    .code .source .comment {
        font-style: italic
    }
    
    .code .copy {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }
    /* 
Syntax highlighting
Credit to Romgerman on codepen for the syntax highlighting
https://codepen.io/romgerman/pen/xOZrZB
*/
    
    .code-style-dark {
        color: #E6E6E6;
        background: #2D2D2D;
        border-radius: 5px;
    }
    
    .code-style-dark .numbers {
        color: rgb(255, 255, 255);
        background: rgb(46, 46, 46);
    }
    
    .code-style-dark .source .line:nth-child(2n) {
        background: rgba(0, 0, 0, 0.05)
    }
    
    .code-style-dark .source .comment {
        color: #6585a0
    }
    
    .code-style-dark .source .sharp-keywords {
        color: #DF5D6E
    }
    
    .code-style-dark .source .sharp-default-types {
        color: #718DBD
    }
    /* Switch */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #6495ED;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #6495ED;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    /* Tooltip */
    /* Tooltip text */
    
    .tooltip .tooltiptext {
        display: none;
        width: 120px;
        background-color: rgb(92, 92, 92);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        bottom: 0px;
        margin-left: -135px;
        position: absolute;
        z-index: 2;
        box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.2);
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    
    .tooltip:hover .tooltiptext {
        display: block;
    }