@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    transition: color 0.2s; 
    transition: background 0.2s; 
}

body {
    font-family: 'Roboto';
    color: #333333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333333;
}

h1, h2, h3, h4 {
    font-weight: 500;
    margin: 11px 0px;
    line-height: 1.2;
}

pre {
    background-color: #E4E4E4;
    padding: 6px;
    border-radius: 5px;
    border: 1px #CCCCCC solid;
}

code {
    background-color: #E4E4E4;
    padding: 3px;
    border-radius: 5px;
    border: 1px #444444 solid;
    color: white;
    background-color: #2D2D2D;
}

/* Navigation Bar */

.logo {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo h1 {
    font-weight: 600;
}

.logo span {
    font-weight: 500;
}

.navbar {
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: white;
    color: cornflowerblue;
    height: 69px; /* haha 69 funny */
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
}

.navbar .flexbox {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: cornflowerblue;
    padding: 10px;
    margin: 0px 15px;
}

.navbar a:hover {
    border-bottom: 3px cornflowerblue solid;
}


/* Utils */

.container {
    max-width: 1069px; /* LoL I need to stop */
    margin: 0px auto;
    overflow: auto;
    padding: 0px 31px;
}

.flexbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-card {
    background-color: #E7E7E7;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    overflow: auto;
    max-height: 400px;
    margin: 30px 0px;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    overflow: auto;
    margin: 30px 0px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

/* Docs */

.documentation .container {
    max-width: 1269px;
}

.documentation {
    min-height: none;
    position: relative;
    overflow: auto;
    top: -100px;
}

.warn {
    background-color: #FF9393;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    min-width: none;
    display: inline-block;
}

.info {
    background-color: #D6D6D6;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    min-width: none;
    display: inline-block;
}

.legend-card a:hover {
    color: cornflowerblue;
}

.documentation h2 {
    font-size: 27px;
    margin: 7px 0px;
}

.documentation h3 {
    font-size: 23px;
    margin: 10px 0px;
}

.documentation h4 {
    font-size: 20px;
    margin: 10px 0px;
}

.card p {
    margin: 15px 0px;
}

.button {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
    display: inline-block;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 0.2s;
}

.button:hover {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
    display: inline-block;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 0.2s;
}

.legend-card li {
    border-bottom: 1px #CCCCCC solid;
    margin: 5px;
}

/* Welcome Area */

.welcome {
    
    background-color: cornflowerblue;
    height: 500px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.welcome h1 {
    text-align: center;
    color: white;
    font-size: 64px; /* Minecraft Number xD */
    margin: 0px;
    padding-top: 200px;
}

.welcome p {
    color: white;
    text-align: center;
    font-size: 32px;
}

/* Footer */

.footer {
    height: 125px;
}

.footer .container {
    max-width: 95%;
    border-top: 1px lightgray solid;
}

.footer h1 {
    padding-top: 12px;
}

.footer ul {
    display: flex;
}

.footer .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.footer .flexbox {
    justify-content: center;
    float: right;
}

.footer a {
    margin: 0px 10px;
    padding: 10px;
}

.footer li {
    margin-top: 20px;
}

.footer a:hover {
    border-bottom: 3px #333333 solid;
}

/* Tablet Or Other */

@media(max-width: 1200px) {
    .welcome h1 {
        font-size: 48px;
        padding-bottom: 20px;
    }
    
    .welcome p {
        font-size: 26px;
        padding-bottom: 20px;
    }
}

@media(max-width: 869px) {
    .documentation {
        top: -75px;
    }
}

@media(max-width: 750px) {
    .navbar {
        height: 110px;
    }

    .navbar .flexbox {
        flex-direction: column;
    }

    .navbar ul {
        margin-bottom: 20px;
    }

    .grid {
        display: block;
    }

    .documentation {
        top: -69px;
    }

    .welcome {
        height: 400px;
    }

    .welcome h1 {
        font-size: 40px;
        padding-top: 150px;
    }

    .welcome p {
        font-size: 18px;
        padding: 0px;
    }

    .legend-card {
        width: 75%;
        margin: 0px auto;
    }

    .footer p {
        font-size: 14px;
    }
}

/* Phone */

@media(max-width: 512px) {
    .navbar {
        height: 110px;
    }

    .navbar .flexbox {
        flex-direction: column;
    }

    .navbar ul {
        margin-bottom: 20px;
    }

    .grid {
        display: block;
    }

    .documentation {
        top: -30px;
    }

    .welcome {
        height: 350px;
    }

    .welcome h1 {
        font-size: 32px;
        padding-top: 150px;
    }

    .welcome p {
        font-size: 18px;
        padding-top: 0px;
    }

    .legend-card {
        width: 75%;
        margin: 0px auto;
    }

    .footer p {
        font-size: 14px;
    }
}


/* CODE BLOCK */
.code {
  display: block;
  max-height: 500px;
  width: 100%;
  margin: 20px 0;
  font-family: monospace;
  font-size: 13px;
  line-height: 23px;
  position: relative;
  overflow: auto
}

.code .numbers, .code .source { float: left }

.code .numbers {
  padding: 10px;
  text-align: right
}

.code .source { padding: 10px 0 }
.code .source .line { padding: 0 10px }
.code .source .comment { font-style: italic }

.code .copy {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

/* 
Syntax highlighting
Credit to Romgerman on codepen for the syntax highlighting
https://codepen.io/romgerman/pen/xOZrZB
*/

.code-style-dark {
    color: #E6E6E6;
    background: #2D2D2D;
    border-radius: 5px;
}
.code-style-dark .numbers {
    color: rgb(255, 255, 255);
    background: rgb(46, 46, 46);
}

.code-style-dark .source .line:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05)
}
.code-style-dark .source .comment {
    color: #6585a0
}

.code-style-dark .source .sharp-keywords {
    color: #DF5D6E
}
.code-style-dark .source .sharp-default-types {
    color: #718DBD
}


/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6495ED;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6495ED;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }