@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    font-family: 'Roboto';
    color: #333333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333333;
}

h1, h2, h3, h4 {
    font-weight: 500;
    margin: 11px 0px;
    line-height: 1.2;
}

pre {
    background-color: #E4E4E4;
    padding: 6px;
    border-radius: 5px;
    border: 1px #CCCCCC solid;
}

code {
    background-color: #E4E4E4;
    padding: 3px;
    border-radius: 5px;
    border: 1px #CCCCCC solid;
}

/* Navigation Bar */

.logo {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo h1 {
    font-weight: 600;
}

.logo span {
    font-weight: 500;
}

.navbar {
    background-color: white;
    color: cornflowerblue;
    height: 69px; /* haha 69 funny */
}

.navbar .flexbox {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: cornflowerblue;
    padding: 10px;
    margin: 0px 15px;
}

.navbar a:hover {
    border-bottom: 3px cornflowerblue solid;
}

/* Utils */

.container {
    max-width: 1069px; /* LoL I need to stop */
    margin: 0px auto;
    overflow: auto;
    padding: 0px 31px;
}

.flexbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-card {
    background-color: #E7E7E7;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    overflow: auto;
    max-height: 400px;
    margin: 30px 0px;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    overflow: auto;
    max-height: 1000px;
    margin: 30px 0px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

/* Docs */

.documentation .container {
    max-width: 1269px;
}

.documentation {
    min-height: none;
    position: relative;
    overflow: auto;
    top: -100px;
}

.warn {
    background-color: #FF9393;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    min-width: none;
    display: inline-block;
}

.info {
    background-color: #D6D6D6;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    min-width: none;
    display: inline-block;
}

.legend-card a:hover {
    color: cornflowerblue;
}

.documentation h2 {
    font-size: 27px;
    margin: 7px 0px;
}

.documentation h3 {
    font-size: 23px;
    margin: 10px 0px;
}

.documentation h4 {
    font-size: 20px;
    margin: 10px 0px;
}

.card p {
    margin: 15px 0px;
}

.button {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
    display: inline-block;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button:hover {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
    display: inline-block;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.legend-card li {
    border-bottom: 1px #CCCCCC solid;
    margin: 5px;
}

/* Welcome Sign */

.welcome {
    background-color: cornflowerblue;
    height: 300px;
    width: 100%;
    overflow: visible;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.welcome h1 {
    text-align: center;
    color: white;
    font-size: 64px; /* Minecraft Number xD */
    margin: 0px;
    padding-top: 50px;
}

.welcome p {
    color: white;
    text-align: center;
    font-size: 32px;
}
